.help{
    color: red;
}
a{
   color: #1F97F3;;
}
a:hover{
    color: #0b7bd0;
}
.custom-nav ul li{
    font-size: 0.9rem !important;
}
.profile-mf-btn{
    padding-top: 8px;
    padding-bottom: 8px;
}

.form-label{
    color: #4c4c4c;
    font-weight: 500;
}
.show_in_print{
    display: none;
}


